<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Terms_of_use</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2,h4 {
            text-align: left;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 10px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <h2>Support</h2>
        <p>If you have any questions, complaints or claims with respect to our Services, you may contact us at <%= appemail %>.</p>
        <h2> <%= appname %> App Terms of Service</h2>
        <p>Thank you for using our app <%= appname %> and its services. <%= appname %> App provides Services to you ("you" or "your"), subject to the terms contained in this Pepost App Services Terms of Use (this "Agreement"). 
           By using or accessing the Services, you ("User" or "you") agree to become bound by all the terms and conditions of this Agreement. 
           If you do not agree to all the terms and conditions of this Agreement, you shouldn't and aren't permitted too use the Services.
           Use of our Services is expressly conditioned upon your assent to all the terms and conditions of this Agreement.
        </p>
        <h4>1. Access To The Services</h4>
        <p>Developer reserves the right to change, suspend or discontinue the Services at any time, including the availability of any feature, database, or Content. Developer may also impose limits on certain features and services or restrict your access to parts or all of the Services without notice or liability. 
            Developer reserves the right, in its sole discretion, to modify this Agreement at any time by posting a notice on the Website and/or Application. You shall be responsible for reviewing and becoming familiar with any such modifications. 
            Your use of the Services following such notification constitutes your acceptance of the terms and conditions of this Agreement as modified.
        </p>
        <p>In accordance with our Privacy Policy, we also communicate with you when necessary regarding security, privacy and administrative issues.</p>
        <p>You may not use the Services and you may not accept the Terms if you are not of a legal age to form a binding contract and otherwise capable of entering into this agreement. You must be at least 13 years old to use the Service.</p>
        <h4>2. Collection And Storage Of Information</h4>
        <p>Through your use of our Services, you consent to the collection, storage and use (as set forth in the Privacy Policy) of the information you provide, 
            including the transfer of this information for processing and use by us.
        </p>
        <h4>3. Registration</h4>
        <p>In order to register to use our Services, you must log into your Instagram account. We do not collect or store your Instagram account login information, but we do collect and store certain information from your Instagram profile. Such information includes but is not limited to your user name, profile picture and followers list. You agree to provide true, accurate, current, and complete information, and keep your information accurate, current, and complete.
             If we have reasonable grounds to believe that your information is untrue, we may suspend or terminate your account.
        </p>
        <h4>4. Account, Password And Security</h4>
        <p>You are responsible for maintaining the confidentiality of your Instagram account name (login name or email address) and password and are fully responsible for all activities that occur under your account and password. You agree to not hold us liable for any loss or damage arising from or relating to your failure to properly safeguard your account or password. 
            Please immediately notify us of any unauthorized use of your Instagram password or account used to register for our services.
        </p>
        <h4>5. Services Content</h4>
        <p>Our Services, and their contents, are intended solely for the use of Services users and may only be used in accordance with the terms of this Agreement. All materials displayed or performed through the Services (including, but not limited to text, graphics, articles, photographs, images, and illustrations, also known as the "Content") are protected by copyright. You shall abide by all copyright notices, trademark rules, information, and restrictions contained in any Content accessed through the Services, and shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned by you: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right.</p>
        <p>Our Services are protected under the Copyright Act. You may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works based on, distribute, perform, display, or in any way exploit, any of the Content, software, materials, or Services in whole or in part.</p>
        <p>You understand that all information publicly posted or privately transmitted through the Services is the sole responsibility of the person or Developer from which such content originated and that Developer will not be liable for any errors or omissions in any content. You understand that Developer cannot guarantee the identity of any other users with whom you may interact in the course of using the Services. Additionally, Developer cannot guarantee the authenticity of any data that users or merchants may provide about themselves. You acknowledge that all Content accessed by you using the Services is at your own risk and you will be solely responsible for any damage or loss to any party resulting therefrom.</p>
        <p>Under no circumstances will Developer be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred in connection with use of or exposure to any Content posted, emailed, accessed, transmitted, or otherwise made available via the Services.</p>
        <h4>6. Third Party Websites</h4>
        <p>The Services may contain links to third party websites, apps or services ("Third Party Services") that are not owned or controlled by Developer, or the Services may be accessible by logging in through a Third Party Service, as described more fully in our Privacy Policy. When you access Third Party Services, you do so at your own risk. You hereby represent and warrant that you have read and agree to be bound by all applicable policies of any Third Party Services relating to your use of the Services and that you will act in accordance with those policies, in addition to your obligations under this Agreement. Developer has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions expressed in any Third Party Services. In addition, Developer will not and cannot monitor, verify, censor or edit the content of any Third Party Service.</p>
        <p>By using the Services, you expressly relieve and hold harmless Developer from any and all liability arising from your use of any Third Party Service. Your interactions with organizations and/or individuals found on or through the Services, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals. You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction with any of these third parties. You agree that Developer shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. If there is a dispute between participants on this site, or between users and any third party, you understand and agree that Developer is under no obligation to become involved. In the event that you have a dispute with one or more other users, you hereby release Developer, its officers, employees, agents, and successors in rights from claims, demands, and damages (actual and consequential) of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes.</p>
        <h4>7. Restricted Uses</h4>
        <p>You warrant, represent and agree that you will not contribute any Content or otherwise use the Services in a manner that (i) infringes or violates the intellectual property rights or proprietary rights, rights of publicity or privacy, or other rights of any third party; (ii) violates any law, statute, ordinance or regulation; (iii) is harmful, fraudulent, deceptive, threatening, abusive, harassing, degrading, intimidating, tortious, defamatory, vulgar, obscene, libelous, or otherwise objectionable; (iv) impersonates any person or entity, including without limitation any employee or representative of Developer; (v) restricts or inhibits any other user from using and enjoying the Services or Content; (vi) relate to products that are sexual or pornographic in nature, alcoholic products, tobacco products or other products that are unlawful in any manner; or (vii) contains a virus, trojan horse, worm, time bomb, or other harmful computer code, file, or program. Developer reserves the right to remove any Content from the Services at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Developer is concerned that you may have breached the immediately preceding sentence), or for no reason at all. You, not Developer, remain solely responsible for all Content that you upload, post, email, transmit, or otherwise disseminate using, or in connection with, the Services, and you warrant that you possess all rights necessary to provide such content to Developer and to grant Developer the rights to use such information in connection with the Services and as otherwise provided herein.</p>
        <p>You are responsible for all of your activity in connection with the Services. Any fraudulent, abusive, or otherwise illegal activity may be grounds for termination of your right to access or use the Services. You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any other user of the Services. Use of the Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material (including material that may be considered threatening or obscene), or engage in any kind of illegal activity is expressly prohibited. You will not run Maillist, Listserv, any form of auto-responder, or "spam" on the Services, or any processes that run or are activated while you are not logged on to the Website, or that otherwise interfere with the proper working of or place an unreasonable load on the Services' infrastructure. Further, the use of manual or automated software, devices, or other processes to "crawl," "scrape," or "spider" any page of the Website is strictly prohibited. You will not decompile, reverse engineer, or otherwise attempt to obtain the source code of the Services. You will be responsible for withholding, filing, and reporting all taxes, duties and other governmental assessments associated with your activity in connection with the Services.</p>
        <p>YOU UNDERSTAND AND ACKNOWLEDGE THAT YOU ARE RESPONSIBLE FOR ANY CONTENT YOU SUBMIT, CONTRIBUTE, SHARE OR OTHERWISE CAUSE TO BE TRANSMITTED THROUGH THE SERVICES, AND YOU, NOT THE Developer, HAVE FULL RESPONSIBILITY FOR SUCH CONTENT, INCLUDING ITS LEGALITY, RELIABILITY, ACCURACY AND APPROPRIATENESS.</p>
        <p>WE ARE NOT RESPONSIBLE, OR LIABLE TO YOU OR ANY THIRD PARTY, FOR THE CONTENT OR ACCURACY OF ANY USER CONTRIBUTIONS PROVIDED BY YOU OR ANY OTHER USER OF THE SERVICES, INCLUDING THE NAME APP.</p>
        <h4>8. Exclusivity</h4>
        <p>You agree that by us providing you the Services for free, you grant us the exclusive right to work with you to promote brands and/or products on through our Services. This exclusive right covers all advertisements and promotional activities of any kind involving the Services.</p>
        <h4>9. Warranty Disclaimer</h4>
        <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK AND THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. UNLESS EXPRESSLY SET FORTH HEREIN, DEVELOPER MAKES NO WARRANTY, EXPRESS OR IMPLIED, WITH RESPECT TO ANY MATTER, INCLUDING WITHOUT LIMITATION ADVERTISING AND OTHER SERVICES, AND EXPRESSLY DISCLAIMS THE IMPLIED WARRANTIES OR CONDITIONS OF NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR ANY PARTICULAR PURPOSE. DEVELOPER DOES NOT WARRANT THE RESULTS OF USE OF THE SERVICE, AND YOU ASSUME ALL RISK AND RESPONSIBILITY WITH RESPECT THERETO.</p>
        <h4>10. Privacy Policy</h4>
        <p>For information regarding Developer's treatment of personally identifiable information, please review Developer's current Privacy Policy; your acceptance of this Agreement constitutes your acceptance and agreement to be bound by Developer's Privacy Policy.</p>
        <h4>11. Termination</h4>
        <p>This Agreement shall remain in full force and effect while you use the Services. You may terminate your use of the Services at any time. Developer may terminate or suspend your access to the Services or your membership at any time, for any reason, and without warning, which may result in the forfeiture and destruction of all information associated with your membership. Developer may also terminate or suspend any and all Services and access to the Services immediately, without prior notice or liability, if you breach any of the terms or conditions of this Agreement. Upon termination of your account, your right to use the Services, access the Application, and any Content will immediately cease. All provisions of this Agreement which, by their nature, should survive termination, shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, and limitations of liability.</p>
        <h4>12. Governing Law and Disputes Resolution</h4>
        <p>Except to the extent that: (i) any applicable additional terms incorporated into these Terms provide differently, or (ii) the applicable laws and regulations of your jurisdiction mandate otherwise, the Agreement and any dispute or claim arising out of or in connection with the Agreement will be governed by the laws of the People’s Republican of China.</p>
        <p>Any dispute, controversy or claim (whether in contract, tort or otherwise) arising out of, relating to, or in connection with the Agreement, including their existence, validity, interpretation, performance, breach or termination, will be referred to and finally resolved by arbitration administered by the China International Economic and Trade Arbitration Commission (CIETAC), and the place of arbitration shall be in Beijing. Within the valid period for the arbitration, such arbitration tribunal shall subject to the arbitration rules of the CIETAC in effect at the time of the arbitration. The award of the arbitration tribunal shall be final and binding upon the two parties.</p>
        <h4>13. Limitation of Liability</h4>
        <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT DEVELOPER AND ITS AFFILIATES, SUBSIDIARIES, EMPLOYEES, AND AGENTS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING OUT OF OR RELATING TO THE BREACH OF THE TOS OR THE USING OF SERVICE, EVEN IF DEVELOPER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
        <h4>14. Indemnification</h4>
        <p>You agree to indemnify and hold Developer and its employees harmless from and against any third-party claim and any related losses, costs, liabilities and expenses, including reasonable attorneys’ fees, arising out of the breach of any representations, warranties or covenants made by you.</p>
        <h4>15. Copyright Dispute Policy</h4>
        <p><%= appname %> cannot remove or edit material posted on Instagram. As such, concerns and complaints regarding copyrighted material should be reported to Instagram in accordance with Instagram’s Terms of Use.</p>
    </div>
</body>

</html>
